@charset "UTF-8";

/*Versão Mobile First*/
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    /*Incluir a borda no objeto, incluir o tam da borda no tam do obj*/
}
html{
    height: 100vh;
    /*Não deixa barra de rolagem vertical*/
}

body{
    background: black url('../imagens/back-phone.jpg') no-repeat;
    background-size: cover;
    background-position: center center;


}
h1{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 2em;
}
main{
    background-color: rgba(255, 255, 255, 0.588);
    width: 90vw;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}

img{
    display: block;
    margin: auto;
}
#phone{display: block;}
#tablet{display: none;}
#print{display: none;}
#pc{display: none;}
#tv{display: none;}